<h2>Game {{gameId}} details</h2>
<table class="table1">
    <tr><th>Name </th><th>Role </th><th>Cards </th><th>Total points </th><th>Status </th></tr>
    <tr *ngFor="let player of gameDetails.players">
        <td>{{player.name}}</td>
        <td>{{this.gameService.getTypeRole(player.role)}}</td>
        <td>
            <div *ngFor="let card of player.playerCards">
                {{this.gameService.getTypeCardName(card.name)}} {{this.gameService.getTypeCardSuit(card.suit)}} {{card.points}}
            </div>
            <br />
        </td>
        <td>
            {{player.cardSum}}
        </td>
        <td>
            {{this.gameService.getTypePlayerStatus(player.playerStatus)}}
        </td>
    </tr>
    <tr>
        <td>{{gameDetails.dealerPlayer.name}}</td>
        <td>{{this.gameService.getTypeRole(gameDetails.dealerPlayer.role)}}</td>
        <td>
            <div *ngFor="let card of gameDetails.dealerPlayer.playerCards">
                {{this.gameService.getTypeCardName(card.name)}} {{this.gameService.getTypeCardSuit(card.suit)}} {{card.points}}
            </div>
            <br />
        </td>
        <td>
            {{gameDetails.dealerPlayer.cardSum}}
        </td>
        <td>
            -
        </td>
    </tr>
</table>
<br />
<button kendoButton (click)="this.gameService.openHistory()">Return history</button>