<h2>End of Game</h2>
<h2>Result</h2>
<table class="table1">
    <tr><th>Name </th><th>Role </th><th>Cards </th><th>Total points </th><th>Status </th></tr>
    <tr *ngFor="let player of endGameInfo.players">
        <td>{{player.name}}</td>
        <td>{{this.gameService.getTypeRole(player.role)}}</td>
        <td>
            <div *ngFor="let card of player.playerCards">
                {{this.gameService.getTypeCardName(card.name)}} {{this.gameService.getTypeCardSuit(card.suit)}} {{card.points}}
            </div>
            <br />
        </td>
        <td>
            {{player.cardSum}}
        </td>
        <td>
            {{this.gameService.getTypePlayerStatus(player.playerStatus)}}
        </td>
    </tr>
    <tr>
        <td>{{endGameInfo.dealerPlayer.name}}</td>
        <td>{{this.gameService.getTypeRole(endGameInfo.dealerPlayer.role)}}</td>
        <td>
            <div *ngFor="let card of endGameInfo.dealerPlayer.playerCards">
                {{this.gameService.getTypeCardName(card.name)}} {{this.gameService.getTypeCardSuit(card.suit)}} {{card.points}}
            </div>
            <br />
        </td>
        <td>
            {{endGameInfo.dealerPlayer.cardSum}}
        </td>
        <td>
            -
        </td>
    </tr>
</table>
<br />
<button kendoButton (click)="this.gameService.startNewGame()">Start new game</button>
<br />
<br />
<button kendoButton (click)="this.gameService.openHistory()">View history</button>