﻿<h1>Welcome to the game</h1>
<h4>Enter your name or select player</h4>
<kendo-combobox [(ngModel)]="createGameGameView.currentPlayer"
                [data]="humanPlayers"
                [allowCustom]="true">
</kendo-combobox>
<h4>Choose count bot-player</h4>
<kendo-dropdownlist [data]="botsCount"
                    [value]="0"
                    [(ngModel)]="createGameGameView.botsCount">
</kendo-dropdownlist>
<h4>and start game</h4>
<button kendoButton (click)="createGame(createGameGameView)">Start</button>
