﻿@using BlackJack.ViewModels.HistoryViews
@model GetGameDetailsHistoryView
@{
    ViewBag.Title = "GameDetails";
}
<center>
    <h2>Game details number @Model.GameId </h2>
</center>
<center>
    <table class="table1">
        <tr><th>Name </th><th>Role </th><th>Cards </th><th>Total points </th><th>Status </th></tr>
        @foreach (var players in Model.Players)
        {
            <tr>
                <td>@players.Name</td>
                <td>@players.Role.ToString()</td>
                <td>
                    @for (int i = 0; i < players.PlayerCards.Count; i++)
                    {
                        @players.PlayerCards[i].Name.ToString()<text></text> @players.PlayerCards[i].Suit.ToString()<text></text> @players.PlayerCards[i].Points
                        <br />
                    }
                </td>
                <td>
                    @players.CardSum.ToString()
                </td>
                <td>
                    @players.PlayerStatus.ToString()
                </td>
            </tr>
        }
        <tr>
            <td>@Model.DealerPlayer.Name</td>
            <td>@Model.DealerPlayer.Role.ToString()</td>
            <td>
                @for (int i = 0; i < @Model.DealerPlayer.PlayerCards.Count; i++)
                {
                    @Model.DealerPlayer.PlayerCards[i].Name.ToString()<text></text> @Model.DealerPlayer.PlayerCards[i].Suit.ToString()<text></text> @Model.DealerPlayer.PlayerCards[i].Points
                    <br />
                }
            </td>
            <td>
                @Model.DealerPlayer.CardSum.ToString()
            </td>
            <td>
                -
            </td>
        </tr>
    </table>
    <br />
    @using (Html.BeginForm("GetAllGames", "History", FormMethod.Post))
    {
        <div id="button_block">
            <button id="button_view_history" type="submit">Return to history</button>
        </div>
    }
</center>
@Scripts.Render("~/bundles/History/GameDetails")