﻿<h1>Game number {{gameId}}</h1>
<table class="table1">
    <tr><th>Name </th><th>Role </th><th>Cards </th><th>Total points </th><th>Status </th></tr>
    <tr *ngFor="let player of currentGame.players">
        <td>{{player.name}}</td>
        <td>{{this.gameService.getTypeRole(player.role)}}</td>
        <td> 
            <div *ngFor="let card of player.playerCards">
                {{this.gameService.getTypeCardName(card.name)}} {{this.gameService.getTypeCardSuit(card.suit)}} {{card.points}}
            </div>
            <br />
        </td>
        <td>
            {{player.cardSum}}
        </td>
        <td>
            {{this.gameService.getTypePlayerStatus(player.playerStatus)}}
        </td>
    </tr>
    <tr>
        <td>{{currentGame.dealerPlayer.name}}</td>
        <td>{{this.gameService.getTypeRole(currentGame.dealerPlayer.role)}}</td>
        <td> 
            <div *ngFor="let card of currentGame.dealerPlayer.playerCards">
                {{this.gameService.getTypeCardName(card.name)}} {{this.gameService.getTypeCardSuit(card.suit)}} {{card.points}}
            </div>
            <br />
        </td>
        <td>
            {{currentGame.dealerPlayer.cardSum}}
        </td>
        <td>
            -
        </td>
    </tr>
</table>
<br>
<br />
<button kendoButton (click)="createNextRound(2)">Take more</button>
<br />
<br />
<button kendoButton (click)="endGame()">Enough</button>