﻿@using BlackJack.ViewModels.GameViews
@model PlayCurrentGameGameView
<table class="table1">
    <tr><th>Name </th><th>Role </th><th>Cards </th><th>Total points </th><th>Status </th></tr>
    @foreach (var players in Model.Players)
    {
        <tr>
            <td>@players.Name</td>
            <td>@players.Role.ToString()</td>
            <td>
                @for (int i = 0; i < players.PlayerCards.Count; i++)
                {
                    @players.PlayerCards[i].Name.ToString()<text></text> @players.PlayerCards[i].Suit.ToString()<text></text> @players.PlayerCards[i].Points
                    <br />
                }
            </td>
            <td>
                @players.CardSum.ToString()
            </td>
            <td>
                @players.PlayerStatus.ToString()
            </td>
        </tr>
    }
    <tr>
        <td>@Model.DealerPlayer.Name</td>
        <td>@Model.DealerPlayer.Role.ToString()</td>
        <td>
            @for (int i = 0; i < @Model.DealerPlayer.PlayerCards.Count; i++)
            {
                @Model.DealerPlayer.PlayerCards[i].Name.ToString()<text></text> @Model.DealerPlayer.PlayerCards[i].Suit.ToString()<text></text> @Model.DealerPlayer.PlayerCards[i].Points
                <br />
            }
        </td>
        <td>
            @Model.DealerPlayer.CardSum.ToString()
        </td>
        <td>
            -
        </td>
    </tr>
</table>
<br>



