﻿@using BlackJack.ViewModels.GameViews
@using BlackJack.BusinessLogic.Enums
@model PlayCurrentGameGameView
@{
    ViewBag.Title = "Games";
}
<div>
    <center><h4>Game # @Model.GameId.ToString()</h4></center>
    <center>
        <div id="results">
            @{
                Html.RenderPartial("_CreateNextRoundGameView");
            }
        </div>
        @using (Ajax.BeginForm("PlayCurrentGame", "Game", new AjaxOptions { UpdateTargetId = "results", OnSuccess = "onSuccess", HttpMethod = "Post" }))
        {
            @Html.Hidden("id", Model.GameId);
            GetCardEnum getCardEnum = GetCardEnum.Take;
            @Html.Hidden("getCardEnum", getCardEnum)
            <div id="button_block">
                <button id="button_take" type="submit">Take more</button>
            </div>
        }
        <br />
        @using (Html.BeginForm("GetEndGame", "Game", FormMethod.Post))
        {
            @Html.Hidden("id", Model.GameId)
            <div id="button_block">
                <button id="button_enough" type="submit">Enough</button>
            </div>
        }
        <br />
        <br />
    </center>
</div>
@Scripts.Render("~/bundles/Game/CurrentGame")
@Scripts.Render("~/scripts/jquery-3.3.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")