<h2>All Games</h2>
<kendo-grid [data]="allgames.games">
    <kendo-grid-column field="id" title="Game Id"></kendo-grid-column>
    <kendo-grid-column field="creationDate" title="Game date"></kendo-grid-column>
    <kendo-grid-command-column  width="220">
        <ng-template kendoGridCellTemplate let-dataItem >
            <button kendoGridEditCommand (click)="showDetails(dataItem.id)">Details</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
<br />
<button kendoButton (click)="this.gameService.startNewGame()">Start new game</button>
