﻿
.startGame {
    height: 220px;
    width: 280px;
}

.ChosePlayerBox {
    display: inline-block;
}

.ChoseCountBot {
    padding-left: 100px;
    display: inline-block;
}

#button_block {
    display: inline-block;
}

.table1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 1000px;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    height: 50px;
    background-color: #222;
}

    .table1 th {
        background: #222;
        color: white;
        height: 50px;
        text-shadow: 0 1px 1px #9e6868;
        padding: 10px 20px;
    }

    .table1 th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }

        .table1 th:first-child, td:first-child {
            text-align: left;
        }

        .table1 th:first-child {
            border-top-left-radius: 10px;
        }

        .table1 th:last-child {
            border-top-right-radius: 10px;
            border-right: none;
        }

    .table1 td {
        padding: 10px 20px;
        background: #6be0e0;
    }

    .table1 tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }

    .table1 tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
    }

    .table1 tr td:last-child {
        border-right: none;
    }
