﻿body {
    margin: 0;
    padding-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #333;
}

.container {
    width: 800px;
}

.header {
    background-color: #222;
    margin: 0;
    width: 100%;
    height: 70px;
    padding-bottom: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.links {
    color: #9d9d9d;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}

.links_container {
    width: 1000px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

a:hover {
    color: #ffffff;
}

.table1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 1000px;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    height: 50px;
    background-color: #222;
}

.table1 th {
    background: #222;
    color: white;
    height: 50px;
    text-shadow: 0 1px 1px #9e6868;
    padding: 10px 20px;
}

.table1 th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    line-height: 1.5;
}

.table1 th:first-child, td:first-child {
    text-align: left;
}

.table1 th:first-child {
    border-top-left-radius: 10px;
}

.table1 th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.table1 td {
    padding: 10px 20px;
    background: #6be0e0;
}

.table1 tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.table1 tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.table1 tr td:last-child {
    border-right: none;
}
